public/media/naac/**/*.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/**/*.pdf !text !filter !merge !diff
public/media/naac/1.3.1_Institution_Integrates_Crosscutting.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.4_Alumni_Feedback.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.4_Alumni_Feedback_Form.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.4_Communication_to_Affiliating_University.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.4_Employer_Feedback.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.4_Facility_filled_forms.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.4_Faculty_Feedback.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.4_Faculty_feedback_Form.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.4_Feedback_on_Performance.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.4_PTA_Feedback_form.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.4_Parent_Feedback.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.4_Recruiter_Feedback_Form.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.4_Student_Feedback_Forms.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.4_Students_Feedback.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/2.1.1.1_2.1.2.1_Adimited_Students.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/2.1.1.2_Sanctioned_Seats.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/2.1.2.2_State_Government_reserved_categories.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/2.1_Ext_Pro_Full_Time_Faculty.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/2.4.1_Appointment_Orders.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/2.4.1_List_Sanctioned_Faculty.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/2.4.2_List_PhD_Faculty.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/2.4.2_PhD_Certificates.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/2.6.2_Attainment_POs_COs.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/2.6.3.2_Annual_Report_COE.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/2.6.3.2_Certified_Report_Controller_Examination.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/2.6.3_Pass_Percentage_Students.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/Ext_Pro_2018-19.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/Ext_Pro_2019-20.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/Ext_Pro_2020-21.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/Ext_Pro_2021-22.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/Ext_Pro_2022-23.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.1.1_Effective_Curriculum_Planning_ILC.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.2.1_1.2.2_VAC_NPTEL_Online.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/1.3.2-Project_Work_Internship.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/2.3.1_Student_Centric_Use_ICT_Tools.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/2.6.1_Dissimination_Proof.pdf filter=lfs diff=lfs merge=lfs -text
public/media/naac/Feedback_Analysis_Report_Overall.pdf filter=lfs diff=lfs merge=lfs -text
